*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
/* common selectors start */
section{
    padding-block: 62px 0px;
    width: 100%;
    /* height: max-content; */
    /* overflow: hidden; */
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.col{
    padding-inline: 0px;
}
h2{
    font-family: "Jost", sans-serif;
}
.section-title{
    text-align: center;
    padding-bottom: 50px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    color: #37517e
}
.section-title h2::after{
   content: '';
   display: block;
   width: 40px;
   height: 3px;
   background: #47b2e4;
   margin-inline: auto;
   margin-top: 10px;
}
/* common selectors close */
#navbar{
    width: 100%;
    height: max-content;
    background: #37517E;
    overflow: hidden;
    padding-block: 30px;
}
#navbar #logo{
    color: #FFFFFF;
    margin-block: auto;
}
#navbar ul li{
    list-style: none;
    margin-block: auto;
}
#navbar ul li a{
    display: inline-block;
    color: #FFFFFF;
    padding-inline: 20px;
    font-weight: 500;
}
#navbar ul li a:hover{
    color: #00B4FF;
    transition: 1s;
}
.navbar-btn{
    display: inline-block;
    color: #FFFFFF;
    background: none;
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 81px;
    border: 2px solid #00B4FF;
    font-weight: bold;
}
.navbar-btn:hover{
    background: #00B4FF;
}
#banner-section{
    background: #37517E;
    width: 100%;
    /* height: 80vh; */
    overflow: hidden;
    padding-bottom: 20px;
}
#banner-section #banner-text{
    padding-top: 10px;
}
#banner-section #banner-text h6{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
#banner-section #banner-text p{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #AFB9CB;
}
#banner-section #banner-btns{
    margin-top: 40px;   
}
#banner-section #banner-btns a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    display: inline-block;
    padding-block: 13px;
    border-radius: 50px;
}
#banner-section #banner-btns #btn-1{
    background: #00B4FF;
    padding-inline: 30px;
}
#banner-section #banner-btns #btn-1:hover{
    opacity: 0.9;
}
#banner-section #banner-btns #btn-2 i{
    display: inline-block;
    padding-inline: 15px;
    padding-block: 8px;
    margin-inline: 11px;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    line-height: 25px;
}
#banner-section #banner-btns #btn-2 i:hover{
    color: #00B4FF;
    border-color: #00B4FF;
    transition: 1s;
}
#banner-section #banner-img{
    display: block;
    width: 100%;
    position: relative;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
  }

  /* about-us section start */
  #about-us-section{
    background: #FFFFFF;
    padding-bottom: 70px;
  }
  #about-us-section #about-section-left-side ul{
    padding-top: 10px;
  }
  #about-us-section #about-section-left-side ul li{
    line-height: 33px;
  }
  #about-us-section #about-section-left-side ul li i{
    color: #00B4FF;
    padding-right: 6px;
  }
  #about-us-section #about-section-right-side a{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
    margin-top: 12px;
  }
  #about-us-section #about-section-right-side a:hover{
    background: #47b2e4;
    color: #FFFFFF;
  }
  /* about us sectoin 2 start */
#about-section-2{
    background-color: #F3F5FA;
    padding-bottom: 150px;
    padding-top: 150px;
}
#about-section-2 #content{
    margin-bottom: 25px;
}
#about-section-2 #content h2{
    color: #37517E;
    font-weight: bold;
}
#about-section-2 #content h2 span{
    color: #37517E;
    font-weight: 600;
}
#about-section-2 #content p{
    color: #848484;
    letter-spacing: 1px;
    font-weight: 300;
}
#about-section-2 .accordion-section{
    background: #FFFFFF;
    margin-block: 10px;
}
#about-section-2 .accordion-section .accordion-btn{
    width: 100%;
    padding: 25px;
    background: #FFFFFF;
    letter-spacing: 1px;
    border: none;
}
#about-section-2 .accordion-section .accordion-btn #first{
    color: #47B2E4;
    font-weight: bold;
    font-size: 18px;
}
#about-section-2 .accordion-section .accordion-btn #second{
    color: #343A40;
    font-weight: bold;
}
#about-section-2 .accordion-section .accordion-btn #third{
    
}
#about-section-2 .accordion-section .accordion-btn #third i{
    color: #343A40;
    font-weight: bold;
}
#about-section-2 .accordion-section p{
    color: #444444;
    letter-spacing: 1px;
    /* padding-inline: 20px; */
    line-height: 25px;
}
#about-section-2 #about-section-2-right-side{
    /* background-image: url('/assets/img/why-us.png'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
  /* about us sectoin 2 close */

  /* about us section 3 start */
#about-section-3{
    padding-block: 150px;   
}
#about-section-3 #about-section-3-content h2{
    color: #37517E;
    font-weight: bold;
    font-size: 37px;
}
#about-section-3 #about-section-3-content p{
    font-style: italic;
}
#progress-bars .progress-div{
    margin-block: 20px;
}
#progress-bars .progress-div div span{
    color: #37517E;
    font-weight: bold;
}
  /* about us section 3 close */
  /* about-us section close */

/* service section start */
#services-section{
    background: #F3F5FA;
    padding-block: 100px;
}
#services-section .section-title p{
    font-style: italic;
    font-weight: 400;
}
#services-section .card{
    width: 302px;
    background-color: #FFFFFF;
    padding-inline: 30px;
    padding-block: 40px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    transition: 0.5s;
}
#services-section .card:hover{
    transform: translateY(-10px);
}
#services-section .card i{
    color: #00B4FF;
    font-size: 35px;
    padding-block: 18px;
}
#services-section .card .card-body{
    padding: 0;
}
#services-section .card .card-body .card-title{
    color: #37517E;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}
#services-section .card .card-body .card-title:hover{
    color: #00B4FF;
}
#services-section .card .card-body .card-text{
    font-weight: 500;   
}
/* servic section 2 start */
#service-section-2{
    padding-block: 100px;
    /* background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)); */
    background-image: url(/assets/img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#service-section-2 .content{
    padding-right: 100px;
}
#service-section-2 .content h2{
    color: #FFFFFF;
    font-weight: bold;
}
#service-section-2 .content p{
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 10px;
}
#service-section-2 .container #cta-btn a{
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}
#service-section-2 .container #cta-btn a:hover{
    background: #00B4FF;
    border: 1px solid #00B4FF;
}
/* servic section 2 close */

/* service section close */

/* portfolio section start */
#portfolio-section{
    
}
#portfolio-section #portfolio-nav{
    margin-top: 20px;
}
#portfolio-section #portfolio-nav ul{
    margin: 0;
    padding: 0;
}
#portfolio-section #portfolio-nav ul li{
    display: inline-block;
    margin-inline: 30px;
    /* border: 1px solid red; */
}
#portfolio-section #portfolio-nav ul li a{
    display: inline-block;
    color: #444444;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 25px;
}
#portfolio-section #portfolio-nav ul li a:active{
    background: #00B4FF;
    color: #FFFFFF;
}
#portfolio-section .container .row .col .portfolio-img{
    overflow: hidden;
}
/* #portfolio-section .container .row .col .portfolio-info{
    background: rgba(55, 81, 126, 0.8);
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
} */
/* #portfolio-section .container .row .col .portfolio-info h4{
    
}
#portfolio-section .container .row .col .portfolio-info p{
    
}
#portfolio-section .container .row .col .portfolio-info a{
    
}
#portfolio-section .container .row .col .portfolio-info a i{
    
} */
/* portfolio section close */

/* team section start */

#team-section{
    padding-block: 50px;
    background-color: #F3F5FA;
}
#team-section .container .card-section{
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
    transition: 1s;
}
#team-section .container .card-section:hover{
    transform: translateY(-10px);
}
#team-section .container .card-section .pic{
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
#team-section .container .card-section .content-section{
    box-sizing: border-box;
}
#team-section .container .card-section .content-section span::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #CBD6E9;
    margin-top: 10px;
}
#team-section .container .card-section .content-section .social{
    margin-top: 12px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#team-section .container .card-section .content-section .social a{
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    color: #848484;
    margin-right: 10px;
}
#team-section .container .card-section .content-section .social a:hover{
    color: #eff2f8;
    background: #00B4FF;
}
/* team section close */

/* pricing section start */
#pricing-section{
    padding: 60px;
    overflow: hidden;
}
#pricing-section .container .box{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
    height: 100%;
    border-radius: 5px;
    transition: 1s;
}
#pricing-section .container .box:hover{
    transform: translateY(-10px);
}
#pricing-section .container .featured{
    border-top: 4px solid #00B4FF;
}
#pricing-section .container .featured #featured-btn{
    color: #FFFFFF;
    background: #47b2e4;
    font-weight: 600;
    border: 1px solid #47b2e4;
}
#pricing-section .container .box h3{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}
#pricing-section .container .box h4{
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}
#pricing-section .container .box h4 sup{
    font-size: 28px;
}
#pricing-section .container .box h4 span{
    display: block;
    color: #47b2e4;
    font-size: 18px;
}
#pricing-section .container .box ul{
    padding: 20px 0;
    color: #999;
    text-align: left;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}
#pricing-section .container .box ul li{
    padding: 10px 0 10px 30px;
    color: #999999;
    position: relative;
    font-weight: 300;
}
#pricing-section .container .box ul li i{
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 6px;
}
#pricing-section .container .box ul li del{
    color: #CCCCCC;   
}
#pricing-section .container .box ul li .fa-check{
    color: #28A745;
}
#pricing-section .container .box ul li .fa-x{
    color: #CCCCCC;
    font-size: 18px;
}
#pricing-section .container .box a{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}
#pricing-section .container .box a:hover{
    color: #fff;
    background: #47b2e4;
    border: 1px solid #47b2e4;
}
/* pricing section close */

/* frequently asked section start */
#frequently-asked-section{
    padding: 60px 0px;
    overflow: hidden;
    background-color: #F3F5FA;
}
/* frequently asked section close */